[flake8]
# ignore = E226,E302,E41
# http://flake8.pycqa.org/en/2.6.0/warnings.html#error-codes
# https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
max-line-length = 79
max-complexity = 10
exclude =
    .eggs/*.py,
    tests/*,
    *versioneer*,
    docs,
    *version*,
    dist/*,
    examples/*