alabaster
Babel
beautifulsoup4
certifi
charset-normalizer
docutils
furo
idna
imagesize
Jinja2
MarkupSafe
packaging
pathspec
platformdirs
Pygments
requests
snowballstemmer
soupsieve
Sphinx
sphinx-basic-ng
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
urllib3