alabaster==0.7.16
Babel==2.15.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
docutils==0.21.2
furo==2024.7.18
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
Pygments==2.18.0
requests==2.32.3
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.4.7
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport
urllib3==2.2.2